<script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap" rel="stylesheet">
</head>
<body>
  <%- include('partials/_header') %>
    <main>
      <div>
        <label>Admin Link: </label>
        Replace with actual link!!
      </div>
      <div>
        <label>Voter Link: </label>
        Replace with actual link!!
      </div>
      use for loop or sth to generate results list
      <div>
        <button type="submit" class="btn" id="refresh">Refresh Results</button>
        <button type="submit" class="btn" id="close">Close Poll</button>
      </div>

    </main>
</body>
</html>